@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f1f1f1;
    
}

/* CONTAINER PRINCIPAL*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vw;
    justify-content: center;
    gap: 2vw;
}

/* QUADRO PARA A LOGO DA EMPRESA*/
.caixa-esquerda{
    flex: 1 1 45%;
    min-width: 250px;
    height: 50vh;
    background: #dcdcdc;
    border-radius: 8px;
}

/*ÁREA DIREITA*/

.caixa-direita{
    flex: 1 1 45%; 
    min-width: 250px;
    padding: 3vw;
    background: transparent !important;
    background-color: rgba(255, 2555, 255, 0);
    border-radius: 8px;
    box-shadow: none;

}

/*BOTÕES SUPERIORES*/
.top-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
    background: #9ce0e3;
    border-radius: 40px;
    padding: 8px;
    align-items: center;
    height: auto;
    gap: 10px;

}

.top-buttons button {
    flex: 1 ;       
    min-width: 120px;      /* largura mínima para não sumir */
    padding: 10px;
    font-size: 1em;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background: #d6f5f6;
    color: #555;
    transition: 0.3s;
}


.top-buttons button:hover:not(.active) {
    background: #bdeff1;
    color: #444;
}

.top-buttons button.active {
    background: #51cacc;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.03);
}



/*FORMULÁRIO*/
form label{
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.5vh;
    margin-left: 5px;
}



form input{
   width: 100%;
    padding: 1vh 1vw;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
    font-size: 1em;
}

.group-imput{
    margin-top: 2vh;
    width: 100%;
}
.campo-cpf{
    position: relative;
    margin-bottom: 2vh;
   
}

.erro-msg{
    color: red;
    font-size: 0.85em;
    margin-top: 3px;
    display: block;
}

/*CAMPO SENHA COM ICONE*/
.caixa-de-senha{
    position: relative;
    margin-bottom: 20px;
}

#password{
    width: 100%;
    padding: 1vh 1vw;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
    
}

#togglePassword{
     position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 1.2em;
}

#togglePassword:hover{
    color: #58c7c8;
    cursor:pointer;
}

.icone-do-olho{
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666;
    cursor: pointer;
    user-select: none;
    
}

.caixa-de-tipo select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
    appearance: none; /* remove estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23666"/></svg>') no-repeat right 15px center;
    background-size: 10px;
    cursor: pointer;
    font-size: 14px;
}


/* RELEMBRAR E ESQUECEU*/

.opcoes{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 0.85em;
}

.opcoes .esquecida{
    color: #666;
    text-decoration: none;
}


/*BOTÃO LOGIN*/

.botão-de-login{
    width: 50%;
    max-width: 200px;
    background: #49BBBD;
    color: white;
    padding: 1vh;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-top: 2vh;

}

.lembrar-se input[type="checkbox"]{
    width: 1.2em;
    height: 1.2em;
    accent-color: #58c7c8;
    cursor: pointer;
    margin-right: 5px;
}


/* MEDIA QUERIES PARA CELULAR 

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5vw;
    }

    .caixa-esquerda, .caixa-direita {
        flex: 1 1 100%;
        width: 100%;
        min-width: auto;
    }
    .top-buttons{
        flex-direction: column;
        gap: 1vh;
    }
    .top-buttons button {
        font-size: 0.8em;
        padding: 1vh 0;
    }

    .cadastrar, .botão-de-login {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .top-buttons {
        flex-direction: column;
        gap: 1vh;
        height: auto;
    }

    .top-buttons button {
        width: 100%;
    }

    .cadastrar, .botão-de-login {
        width: 100%;
    }
}

