@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f1f1f1;
    
}

/* CONTAINER PRINCIPAL*/
.container{
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linhas em telas pequenas */
    width: 100%;
    padding: 5vw; /* uso de vw para ser relativo ao tamanho da tela */
    justify-content: center; /* centraliza em telas pequenas */
    gap: 2vw;
}

/* QUADRO PARA A LOGO DA EMPRESA*/
.caixa-esquerda{
    flex: 1 1 45%;
    min-width: 250px;
    height: 50vh;
    background: #dcdcdc;
    border-radius: 8px;
}

/*ÁREA DIREITA*/

.caixa-direita{
    flex: 1 1 45%; /* ocupa 45% do container, mas pode encolher */
    min-width: 250px;
    padding: 3vw;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

}

/*BOTÕES SUPERIORES*/
.top-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
    background: #9ce0e3;
    border-radius: 40px;
    padding: 8px;
    align-items: center;
    height: auto;
    gap: 10px;
   
}

.top-buttons button {
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    background: #d6f5f6;
    color: #555;
    transition: 0.3s;
}


.top-buttons button:hover:not(.active) {
    background: #bdeff1;
    color: #444;
}

.top-buttons button.active {
    background: #51cacc;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.03);
}

.group-imput{
    margin-top: 2vh;
    width: 100%;
}


/*FORMULÁRIO*/
form label{
    display: block;
    font-size: 0.9em;
    margin-bottom: 6px;
    margin-left: 5px;

}

form input, form select{
    width: 100%;
    padding: 1vh 1vw;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
    font-size: 1em;
}

.campo-cpf, .caixa-de-senha, .caixa-de-tipo{
    position: relative;
    margin-bottom: 20px;
   
}



/*CAMPO SENHA COM ICONE*/


#senhaCadastro{
   width: 100%;
    padding: 1vh 1vw;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
}

#togglePasswordCadastro{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 1.2em;
}

#togglePasswordCadastro:hover{
    color: #58c7c8;
}


.icone-do-olho{
    position: absolute;
    top: 30%;
    right: 12px;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
    
}

.caixa-de-tipo select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23666"/></svg>') no-repeat right 10px center;
    background-size: 10px;
    padding-right: 35px;

}

/*BOTÃO CADASTRAR*/
.cadastrar{
     width: 50%;
    max-width: 220px;
    background: #49BBBD;
    color: white;
    padding: 12px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-top: 2vh;
}


/* MEDIA QUERIES PARA CELULAR 
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5vw;
    }

    .caixa-esquerda, .caixa-direita {
        flex: 1 1 100%;
        width: 100%;
        min-width: auto;
    }

    .top-buttons{
        flex-direction: row;
        padding: 6px;
    }

    .top-buttons button {
        font-size: 0.9em;
        padding: 10px;
    }

    .cadastrar, .botão-de-login {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .top-buttons {
        flex-direction: column;
        gap: 1vh;
        padding: 10px;
    }

    .top-buttons button {
        width: 100%;
    }

    .cadastrar, .botão-de-login {
        width: 100%;
    }
}