@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f1f1f1;
    
}

/* CONTAINER PRINCIPAL*/
.container{
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linhas em telas pequenas */
    width: 100%;
    padding: 5vw; /* uso de vw para ser relativo ao tamanho da tela */
    justify-content: center; /* centraliza em telas pequenas */
    gap: 2vw;
}

/* QUADRO PARA A LOGO DA EMPRESA
.caixa-esquerda{
    flex: 1 1 45%;
    min-width: 250px;
    height: 50vh;
    background: #dcdcdc;
    border-radius: 8px;
} */

/*ÁREA DIREITA*/

.caixa-direita{
    flex: 1 1 45%; /* ocupa 45% do container, mas pode encolher */
    min-width: 250px;
    padding: 0.7vw 3vw;
    background: transparent !important;
    border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;

}

/*BOTÕES SUPERIORES*/
.top-buttons {
    width: 40vw;
    max-width: 400px;
    text-align: center;
    background: #49BBBD;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 20px;
    padding: 0; 
}

.group-imput{
    margin-top: 2vh;
    width: 100%;
    max-width: 350px;
    text-align: left;
}





/*.top-buttons button.active {
    background: #51cacc;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.03);
} */




/*FORMULÁRIO*/
form label{
    display: block;
    font-size: 0.9em;
    margin-bottom: 6px;
    margin-left: 5px;

}

.input-style {
    width: 40vw;
    max-width: 400px;
    height: 45px;          /* MESMA ALTURA DO BOTÃO */
    border-radius: 30px;   /* MESMO ARREDONDAMENTO */
    border: 1px solid #93e0e2;
    padding: 0 45px 0 15px;       /* padding semelhante */
    font-size: 1em;
    outline: none;
    box-sizing: border-box;
}


/* form input, form select{
    width: 100%;
    padding: 1vh 1vw;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
    font-size: 1em;
} */



.campo-cpf {
    position: relative;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
   
}

.caixa-de-senha {
    position: relative;
    /*margin-bottom: 5px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 40vw;
    max-width: 400px;
    
}
/* .caixa-de-senha input {
   /* padding-right: 40px;
    box-sizing: border-box;
    width: 100%;
    padding: 1vh 1vw;
    padding-right: 40px; /* espaço para o ícone 
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
    font-size: 1em;
    box-sizing: border-box;
} */

.caixa-de-tipo{
     position: relative;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
   
}

.caixa-de-tipo select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23666"/></svg>') no-repeat right 10px center;
    background-size: 10px;
    padding-right: 30px; 

    

}

.erro-msg{
    color: red;
    font-size: 0.85em;
    margin-top: 3px;
    display: block;
}



/*CAMPO SENHA COM ICONE*/


/*#senhaCadastro{
   width: 100%;
    padding: 1vh 1vw;
    border-radius: 30px;
    border: 1px solid #93e0e2;
    outline: none;
}*/

#togglePasswordCadastro{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 1.2em;
    z-index: 2;
}

#togglePasswordCadastro:hover{
    color: #58c7c8;
}

.icone-do-olho{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #666;
    cursor: pointer;
    user-select: none;
 
    
}

.btn {
    width: 40vw;
    max-width: 400px;
    height: 45px;
    border-radius: 30px;
    background: #49BBBD;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    display: block;
    margin: 15px 0;
    text-align: center;
    padding: 0;
}

.btn:hover {
    background: #3ca9ab;
}


/* MEDIA QUERIES PARA CELULAR 
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5vw;
    }

    .caixa-esquerda, .caixa-direita {
        flex: 1 1 100%;
        width: 100%;
        min-width: auto;
    }

    .top-buttons{
        flex-direction: row;
        padding: 6px;
    }

    .top-buttons button {
        font-size: 0.9em;
        padding: 10px;
    }

    .cadastrar, .botão-de-login {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .top-buttons {
        flex-direction: column;
        gap: 1vh;
        padding: 10px;
    }

    .top-buttons button {
        width: 100%;
    }

    .cadastrar, .botão-de-login {
        width: 100%;
    }
}